<!DOCTYPE html>
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IsiBlog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="menu-center">
                <a href="{% url 'post-list' %}" class="nav-link">{% trans "Home" %}</a>
            </div>

            <div class="user-menu-container">
                {% if user.is_authenticated %}
                    <div class="user-menu">
                        <div class="user-profile-icon">
                            {{ user.username|first|upper }}
                        </div>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">{% trans "Profile" %}</a>
                            <a href="{% url 'logout' %}" class="dropdown-item">{% trans "Disconnect" %}</a>
                        </div>
                    </div>
                {% else %}
                    <div class="auth-links">
                        <a href="{% url 'login' %}" class="nav-link">{% trans "Login" %}</a>
                    </div>
                {% endif %}
            </div>
        </nav>
    </header>

    <section class="hero-banner">
        <div class="logo">IsiBlog</div>
    </section>

    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="footer-content">
            <p>2024 - IsiBlog. {% trans "All rights reserved." %}</p>
            <div class="footer-links">
                <a href="#" class="footer-link">{% trans "Privacy Policy" %}</a>
                <a href="#" class="footer-link">{% trans "Terms of Service" %}</a>
                <a href="#" class="footer-link">{% trans "Contact Us" %}</a>
            </div>
        </div>
    </footer>
    <div class="language-selector">
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ request.path }}">
                <select name="language" onchange="this.form.submit()">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>
</body>
</html>